*.cache
*.suo
*.vsidx
/CopeFramework/cope/bin
/CopeFramework/cope.DawnOfWar2/bin
/CopeFramework/cope.Debug/bin
/CopeFramework/cope.FOB/bin
/CopeFramework/cope.Graphics/bin
/CopeFramework/cope.Maths/bin
/CopeFramework/cope.Relic/bin
/CopeModToolDoW2/bin
/CopeShared/bin
/ImageViewerPlugin/bin
/ModDebug/bin
/RBFEditorPlugin/bin
/ScarPlugin/bin